* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  height: 100vh;
  background-color: rgb(50, 50, 83);
 /* background-image: linear-gradient(135deg, rgb(42, 51, 100), rgb(255, 255, 255));*/
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.pag {
  display: flex;
  flex-flow: row;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 290px;
  padding-bottom: 20px;
  background-color: rgb(82, 117, 109);
}
button {
  padding-left: 22px;
  padding-right: 22px;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(73, 73, 73);
  height: 3.75rem;
  width: 3.75rem;
  margin: 0.9px;
}
#c,
#zero {
  height: 3.75rem;
  width: 7.9063rem;
}
.sinais {
  background-color: rgb(74, 74, 117);
  border: 1px gray solid;
  border-radius: 5px;
  color: aliceblue;
}
.sinais:hover {
  background-color: rgb(65, 65, 104);
}
.sinais:active {
  background-color: rgb(56, 56, 88);
}
#input {
  font-size: 30px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
  margin-top: 20px;
  text-align: right;
}
input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}
.calculadora {
  width: 90%;
  margin: 5%;
}
